/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Space+Mono&display=swap');
/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/button.css");
@import url("components/cards.css");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/footer.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.text-center {
  text-align: center;
}
